---
import Page from "../layouts/Page.astro";
import PageHero from "../components/PageHero.astro";
import heroImg from "../assets/img/ln-electricos.jpg";
import Contacto from "../sections/Contacto.astro";
import { site } from "../data/site";
---

<Page
  title={`Contacto | ${site.shortName}`}
  description="Contáctanos por WhatsApp o correo. Villa Aviación Mz. F Lt. 5, Cerro Colorado, Arequipa. Entregas a todo el Perú."
>
  <PageHero
    image={heroImg}
    eyebrow="Contacto"
    title='Hablemos de tu <span class="amber">próximo proyecto</span>'
    subtitle="Atención personalizada · Entregas a todo el Perú"
    pos="center 45%"
  />
  <Contacto />
</Page>
