---
import Page from "../../layouts/Page.astro";
import PageHero from "../../components/PageHero.astro";
import heroImg from "../../assets/img/ln-transmision.jpg";
import Novedades from "../../sections/Novedades.astro";
import CtaBand from "../../components/CtaBand.astro";
import { site } from "../../data/site";
---

<Page
  title={`Novedades y recursos técnicos | ${site.shortName}`}
  description="Guías técnicas de izaje seguro, mantenimiento y seguridad ambiental para el sector minero e industrial, por el equipo de 3S Suministros."
>
  <PageHero
    image={heroImg}
    eyebrow="Novedades y recursos"
    title='Guías técnicas del <span class="amber">sector</span>'
    subtitle="Izaje seguro, mantenimiento y seguridad ambiental"
    pos="center 50%"
  />
  <Novedades />
  <CtaBand />
</Page>
